In [1]:
import pandas as pd

In [4]:
PATH_DATA = '../src/data/the_office_lines_scripts.csv'

In [5]:
datafile = pd.read_csv(PATH_DATA)

In [8]:
datafile.head()

,id,season,episode,scene,line_text,speaker,deleted
0,1,1,1,1,All right Jim. Your quarterlies look very good...,Michael,False
1,2,1,1,1,"Oh, I told you. I couldn't close it. So...",Jim,False
2,3,1,1,1,So you've come to the master for guidance? Is ...,Michael,False
3,4,1,1,1,"Actually, you called me in here, but yeah.",Jim,False
4,5,1,1,1,"All right. Well, let me show you how it's done.",Michael,False

In [16]:
datafile.loc[(datafile['speaker'] == 'Jim') & (datafile['season'] < 8)].reset_index(drop=True)

,id,season,episode,scene,line_text,speaker,deleted
0,2,1,1,1,"Oh, I told you. I couldn't close it. So...",Jim,False
1,4,1,1,1,"Actually, you called me in here, but yeah.",Jim,False
2,18,1,1,6,My job is to speak to clients on the phone abo...,Jim,False
3,20,1,1,7,Whassup! I still love that after seven years.,Jim,False
4,26,1,1,7,Nothing.,Jim,False
...,...,...,...,...,...,...,...
5142,45664,7,24,69,Hey! Hey! Hey!,Jim,False
5143,45682,7,24,71,What about Darryl? We can all agree that he's ...,Jim,False
5144,45692,7,24,71,"What? No, no, it's not a vote.",Jim,False
5145,45694,7,24,71,I don't know. This conversation really got awa...,Jim,False
5146,45696,7,24,71,"No, they can't. That's not how this is gonna w...",Jim,False